
<div id="team">
  <div class="team-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>

    <ul class="list-inline">
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/ManuelWin" class="img-circle" alt="ManuelWin">
        <h2>Manuel Wizler</h2>
        <p>
          <a href="http://github.com/ManuelWin"><i class="fab fa-github"></i>ManuelWin </a></p>
        </li>

        <li>
          <img src="https://kitt.lewagon.com/placeholder/users/danielujikawa" class="img-circle" alt="danielujikawa">
          <h2>Daniel Ujikawa</h2>
          <p>
            <a href="http://github.com/danielujikawa"><i class="fab fa-github"></i>danielujikawa</a></p>
          </li>

        </ul>

      </div>
    </div>
